.carrito {
  position: fixed;
  bottom: 90px;
  right: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #cb3636;
  background-color: #ffffff;
  padding: 9px 10px;
  border-radius: 50%;
  text-align: center;
  animation: vibrar-pausa 3s infinite;
  z-index: 1;

  .icono-carrito {
    font-size: 32px;
  }

  .numerito {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 8px;
    font-size: 18px;
    position: absolute;
    top: -7px;
    right: -8px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

@keyframes vibrar-pausa {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-3px) rotate(-2deg);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(3px) rotate(2deg);
  }
}